@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KICKER SHOP</h1>
    <p class="lead">Projekt zaliczeniowy na przedmiot Bazy Danych</p>
    <p class="lead">Twórcy: Jakub Kolasiński, Kacper Kociubiński</p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>The best promotions</h2>
        <p>
            Some items..
        </p>
        <p><a class="btn btn-default" href="">Check more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bestsellers</h2>
        <p>Some items...</p>
        <p><a class="btn btn-default" href="">Check more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Best quality</h2>
        <p>Some items...</p>
        <p><a class="btn btn-default" href="">Check more &raquo;</a></p>
    </div>
</div>*@